@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/* Base styles */
:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

body {
  @apply bg-white text-black dark:bg-black dark:text-white;
  font-family: var(--font-lexend-deca), system-ui, sans-serif;
}

@layer components {
  /* Color palette button styling */
  .palette-button {
    @apply px-8 py-3 rounded-full bg-black text-white dark:bg-white dark:text-black font-medium shadow-sm transition-transform;
    font-family: var(--font-lexend-deca), system-ui, sans-serif;
  }

  /* Color bar styling */
  .color-bar {
    @apply relative flex items-center justify-center font-mono text-xl transition-all cursor-pointer;
  }
}

@theme inline {
  --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite alternate;
  --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
  @keyframes shimmer-slide {
  to {
    transform: translate(calc(100cqw - 100%), 0);
    }
  }
  @keyframes spin-around {
  0% {
    transform: translateZ(0) rotate(0);
    }
  15%, 35% {
    transform: translateZ(0) rotate(90deg);
    }
  65%, 85% {
    transform: translateZ(0) rotate(270deg);
    }
  100% {
    transform: translateZ(0) rotate(360deg);
    }
  }
}